<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVER DGT PORTFOLIO</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/doamdzah7/image/upload/v1762630258/xq0uuvxnjp1panywpnxm.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="glow-effect"></div>
    <div>
        <h1>SERVER DGT PORTFOLIO</h1>
    </div>
</body>

</html>
